*{
    box-sizing: border-box;
}
.rowchart{
    width: 100%;
    height: 100%;
    margin-top:10px;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-radius: 8px;
    border-style: solid;
    display: flex;
    flex-direction: row;
}
.rowchart1{
    width: 70%;
    height: 100%;
    padding: 20px;
    border-left: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.rowchart2{
    width: 30%;
    height: 100%;
    padding: 20px;
    border-left: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.box-ctdl{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow-y: scroll;
}
.ctdl{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(220, 236, 255,0.6);
    overflow: hidden;
    display: flex;
    margin-bottom: 12px;
}
.box-ctdl{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.box-ctdl::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.chart-detail{
    height: 100%;
    margin-top: 30px;
    padding: 0;
    position: relative;
}
.row-chart{
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
}
.col-time{
    width: 5%;
    height: 100%;
    position: relative;
}
.time{
    position: absolute;
    top: -10px;
    right: 10px;
    font-weight: 400;
    color: #727272;
}
.col-show-detail{
    width: 95%;
    height: 100%;
    border-top: 1px solid #e4e4e4;
}

/* .ant-picker-time-panel-column[data-type="second"] {
    display: none;
  } */