.container {
    width: 100vw;
    height: 100vh;
}

.main-container {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-section {
    width: 82%;
    height: 100%;
}

.right-section {
    width: 22%;
    height: 100%;
    border-left: 2px solid #eeeeee;
}

.meeting-rooms {
    height: 100%;
    display: flex;
    gap: 1%;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 15px;
}

.meeting-room {
    flex: 0 0 24%; 
    margin: 0;
    border-radius: 6px;
    border: 2px solid #eeeeee;
    height: 450px;
}

.meeting-room-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36%
}

.meeting-room-details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    /* height: 11%; */
}

.room-name {
    width: 100%;
    font-weight: 900;
    color: #000000E0;
    font-size: 18px;
}

.room-attendees {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 50px;
    height: 25px
}

.room-quantity {
    font-weight: 500;
    width: 50%;
    font-size: 15px;
    color: rgb(38 38 38 / 76%);
    text-align: center;
    border-left: 1px solid #eee;
}

.room-unit {
    margin-bottom: 5px;
    color: #00000073;
    font-size: 14px;
    font-weight: 600;
    /* font-style: normal; */
}

.meeting-room-schedule {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    color: red;
    overflow-x: auto;
    border-left: 2px solid #1755a2;
}

.schedule-time {
    font-size: 14px;
    font-weight: bold;
}

.schedule-description {
    font-size: 12px;
    font-weight: 500;
}

/* custom scrollBar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}